*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store

/original/example
/original/example64
/original/examplesh
/original/libz.so*
/original/minigzip
/original/minigzip64
/original/minigzipsh
/original/zlib.pc
original/configure.log

/original/.DS_Store
